# XTTS Stream configuration file
# Copy this file to config.yaml and adjust the paths/settings for your environment.

# It's highly recommended to not change `service.log_path`, `model.directory` and `model.ref_file` 
# when running from Docker

service: 
  host: 0.0.0.0
  port: 8000
  # How much instances to up on the machine
  instances: 1 
  # Directory where the service will log metrics
  log_path: /app/logs

model:
  # Path to the directory that contains the XTTS checkpoint artifacts.
  directory: /app/model
  # Reference audio used for voice cloning.
  ref_file: /app/reference.wav
  # Language for the model.
  language: ru 

extra:
  enable_accentizer: true
  enable_asr_cutting: false

