coqpit>=0.0.17
fastapi
fsspec
librosa
noisereduce
numpy
anyascii
einops
pyyaml
num2words
inflect
packaging
scipy
soundfile
spacy>=3.0.0
text-unidecode
tokenizers
torch
torchaudio
transformers
uvicorn
websockets
deepspeed
redis==6.4.0
ruaccent
pyctcdecode
kenlm