services:
  xtts-broker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: xtts-broker
    network_mode: host
    environment:
      - XTTS_BROKER_CONFIG_FILE=/app/broker.config.yaml
    volumes:
      - /abs/path/to/broker.config.yaml:/app/broker.config.yaml:ro
    restart: unless-stopped

